.loading_screen,
.homepage {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
.folder_wrapp {
  position: absolute;
  top: 0;
}
.fullscren {
  position: absolute;
  display: flex;
  flex-direction: column;
}
